{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{parent()}}
        {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block javascripts %}
        {{parent()}}
        {{ encore_entry_script_tags('index') }}
        {{ encore_entry_script_tags('game') }}
{% endblock %}

{% block title %}Cherchez le Mot{% endblock %}

{% block body %}

    <h1>Cherchez le Mot</h1>

    <table id="grid"></table>

    <div class="text-center my-4">
        <input type="text" id="inputWord">
    </div>

{% endblock %}
